:root {
    --white: #ffffff;
    --grey: #e5e5e5;
    --orange: #fca311;
    --dark-blue: #14213d;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

.body-cards {
    height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 100px;
}

.resources-title {
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    z-index: 3;
}

.card:hover{
    background-color: white;
}

button:hover {
    color: var(--dark-blue) !important;
    background-color: var(--grey) !important;
}

.resources-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
